.inner {
	@include outer-container;
	@include rem(padding-right, 20px);
	@include rem(padding-left, 20px);
}

.row {
	@include row;	
}

// PAGE // POST
.blog, .page, .single, .search {

	#content {
		@include rem(padding-top, 80px);
		@include rem(padding-bottom, 80px);
		@include row;

		&.internal {

			#primary {
				@include span-columns(1);

				@include media ($medium-screen-up) {
					@include span-columns(6);
				}

				@include media ($large-screen-up) {
					@include span-columns(8);
				}

				.blog-item {

					@include span-columns(1);
					background-color: $light-gray;
					position: relative;
					@include rem(margin-bottom, 25px);
					
					@include media ($medium-screen-up and max-width $large-screen-up) {
						@include span-columns(3 of 6);
						@include omega(2n);
						@include rem(margin-bottom, 25px);
					}

					@include media ($large-screen-up) {
						@include span-columns(4 of 8);
						@include omega(2n);
						@include rem(margin-bottom, 25px);
					}

					.text {
						padding: 20px;
					}
					
					.hentry {
						margin: 0;

						#image {
							float: left;
							width: 100%;
							@include rem(margin-bottom, 20px);
						}

						header {
							float: left;
							width: 100%;
							margin: 0;

							h2 {
								@include rem(margin-bottom, 10px);
								@include rem(font-size, 25px);
								line-height: 1.1;
								text-transform: uppercase;
							}
						}

						.entry-content {
							margin: 0;
						}

						.entry-footer {
							width: 100%;

							p {
								margin-bottom: 0;

								&.left {

									span {
										color: $brand-primary;
										font-weight: 700;
									}
								}
							}

							ul.post-categories {
								border-left: 1px solid $dark-gray;
								float: left;
								margin-left: 5px;
								padding-left: 5px;

								li {

									a {
										color: $dark-gray;
									}
								}
							}
						}
					}
				}
			}

			&.full {
				#primary {
					@include span-columns(1);

					@include media ($medium-screen-up) {
						@include span-columns(9);
					}

					@include media ($large-screen-up) {
						@include span-columns(12);
					}
				}

				.tml {
					max-width: 320px;
					margin: 0 auto;
				}
			}		

			#secondary {
				@include span-columns(1);

				@include media ($medium-screen-up) {
					@include span-columns(3);
				}

				@include media ($large-screen-up) {
					@include span-columns(4);
				}
			}

			.posts-navigation {
				float: left;
				width: 100%;
			}
		}
	}
}

// SEARCH

.search {

	#content {

	}
}

// ABOUT PAGE
#about, #meet-the-agents {

	#content {
		@include rem(padding-top, 80px);
		@include rem(padding-bottom, 80px);
		
		.hentry {
			@include row;
			margin-bottom: 0;

			.entry-content {
				@include span-columns(1);
				margin-top: 0;

				@include media ($medium-screen-up) {
					@include span-columns(4);
				}

				@include media ($large-screen-up) {
					@include span-columns(6);
				}

				h2 {
					border-left: 2px solid $brand-primary;
					@include rem(padding-left, 20px);
					@include rem(font-size, 30px);
					text-transform: uppercase;
					@include rem(margin, 0 0 20px);
				}
			}

			.feature_vid {
				@include span-columns(1);
				margin-top: 0;
				position: relative;

				@include media ($medium-screen-up) {
					@include span-columns(5);
				}

				@include media ($large-screen-up) {
					@include span-columns(6);
				}

				.overlay {
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.7);

					.fa {
						position: absolute;
						z-index: 7;
						color: white;
						left: 50%;
						top: 50%;
						font-size: 96px;
						margin-left: -41px;
						margin-top: -48px
					}
				}
			}
		}
	}

	#staff {
		@include rem(padding-top, 80px);
		@include rem(padding-bottom, 80px);
		background: $light-gray;

		header {
			@include rem(margin, 0 0 40px 0);

			h2 {
				border-left: 2px solid $brand-primary;
				@include rem(padding-left, 20px);
				@include rem(font-size, 30px);
				text-transform: uppercase;
				@include rem(margin, 0);
			}
		}

		.staff-member {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(3);
			}

			@include media ($large-screen-up) {
				@include span-columns(4);
			}

			.image {
				position: relative;
				display: block;


				img {
					display: block;
				}

				.overlay {
					position: absolute;
					top: 0;
					opacity: 0;
					text-align: center;
					background: $dark-gray90;
					width: 100%;
					height: 100%;
					@include rem(padding, 40px 20px);
					transition: opacity 500ms ease-in-out;

					p {
						color: $white;
					}
					
					.social {

						li {
							display: inline-block;
							background: $black;
							@include rem(margin, 0 2px);
							@include rem(padding, 5px 11px);
							@include rem(width, 36px);
							transition: background 500ms ease-in-out;

							&:hover {
								background: $brand-primary;
							}

							a {
								color: $white;
							}
						}
					}
				}
			}

			.text {
				background: $white;
				@include rem(padding, 20px);
				text-align: center;

				h3 {
					line-height: 1.2;
					margin: 0;
					@include rem(font-size, 23px);
					text-transform: uppercase;
				}

				h4 {
					margin: 0;
					@include rem(font-size, 15px);
					@include rem(margin, 0 20px);
					color: $brand-primary;
					line-height: 1.2;
					font-family: $arial;
				}
			}

			&:hover {

				.overlay {
					opacity: 1;
				}
			}
		}

		.more {
			@include row;
			@include rem(margin-top, 40px);

			a {
				border: 1px solid $brand-primary;
				background-color: transparent;
				@include rem(padding, 16px 20px);
				text-transform: uppercase;
				font-weight: 700;
				display: inline-block;
				color: $brand-primary;
				float: right;
				transition: all 500ms ease-in-out;

				&:hover {
					color: white;
					background-color: $brand-primary;
				}
			}
		}
	}

	#change {
		@include rem(padding-top, 80px);
		@include rem(padding-bottom, 80px);

		header {
			@include rem(margin, 0 0 40px 0);

			h2 {
				border-left: 2px solid $brand-primary;
				@include rem(padding-left, 20px);
				@include rem(font-size, 30px);
				text-transform: uppercase;
				@include rem(margin, 0);
			}
		}

		.text {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(4.5);
			}

			@include media ($large-screen-up) {
				@include span-columns(6);
			}
		}
	}		
}


#getting-involved {

	#content {
		@include rem(padding-top, 80px);
		@include rem(padding-bottom, 80px);
		
		.hentry {
			@include row;
			margin-bottom: 0;

			.entry-content {
				@include span-columns(1);
				margin-top: 0;

				@include media ($medium-screen-up) {
					@include span-columns(4);
				}

				@include media ($large-screen-up) {
					@include span-columns(6);
				}

				h2 {
					border-left: 2px solid $white;
					@include rem(padding-left, 20px);
					@include rem(font-size, 30px);
					text-transform: uppercase;
					@include rem(margin, 0 0 20px);
					color: $white;
				}

			 	p {
					color: $white;
				}

				a {
					border: 1px solid $white;
					background-color: transparent;
					@include rem(padding, 16px 20px);
					text-transform: uppercase;
					font-weight: 700;
					display: inline-block;
					color: $white;
					//float: left;
					transition: all 500ms ease-in-out;

					&:hover {
						color: $white;
						border-color: $brand-primary;
						background-color: $brand-primary;
					}
				}
			}
		}
	}

	#help {
		@include rem(padding-top, 80px);
		@include rem(padding-bottom, 80px);

		header {
			@include rem(margin, 0 0 40px 0);

			h2 {
				border-left: 2px solid $brand-primary;
				@include rem(padding-left, 20px);
				@include rem(font-size, 30px);
				text-transform: uppercase;
				@include rem(margin, 0);
			}
		}

		.text {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(4.5);
			}

			@include media ($large-screen-up) {
				@include span-columns(6);
			}

			ul {
				@include rem(margin, 0 0 15px 15px);
				list-style: none inside;

				li {

					&:before {
						content: "- ";
					}
				}
			}
		}
	}

	#get-involved-form {
		background: $light-gray;
		@include rem(padding-top, 80px);
		@include rem(padding-bottom, 80px);

		h3 {
			border-left: 2px solid $brand-primary;
			@include rem(padding-left, 20px);
			@include rem(font-size, 30px);
			text-transform: uppercase;
			@include rem(margin, 0 0 40px 0);
		}


		.text {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(9);
			}

			@include media ($large-screen-up) {
				@include span-columns(12);
			}

			.gform_body {
				@include rem(margin-top, 20px);

				ul {
					li {
						span {
							label {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

// CONTACT 

#contact {

	#content {

		#contact-form {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(4.5);
			}

			@include media ($large-screen-up) {
				@include span-columns(6);
			}

		}

		#contact-info {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(4.5);
			}

			@include media ($large-screen-up) {
				@include span-columns(6);
			}

			.entry-content {
				margin: 0;
			}
		}

	}
}


// Your Profile

#your-profile {
	
	.entry-content {
		margin: 0;

		p {
			margin: 0;
		}

		h3 {
			@include rem(font-size, 25px);
			@include rem(margin, 0 0 20px);
	
			&:first-of-type {
				border-left: 2px solid #36d4eb;
				@include rem(padding-left, 20px);
				@include rem(font-size, 20px);
				text-transform: uppercase;
				@include rem(margin, 0 0 40px);
			}
		}

		.tml-form-table {

			&:first-of-type {
				display: none;
			}

			padding: 15px;
			background: #f9f9f9;
			display: block;

			tbody {
				width: 100%;
				display: table;

				tr {

					th {
						border: 0;
					}

					td {
						border: 0;
						margin-bottom: 15px;
					}
				}
			}			
		}
    }
}