.widget {
	@include rem(margin, 0 0 20px);

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search  {

	label {
	    margin-bottom: 0;
	}

	.search-field {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		box-sizing: border-box;
		margin: 0;
	}

    .search-submit {
    	display: none;
    }
}

#secondary aside#text-2 {
    background: #8e1a36;
    color: white;

    h2 {
    	border-color: white;
    }

    p {
    	color: white;
    }

	.textwidget {
		
		p:last-of-type {
	    	margin-bottom: 0;
	    }

	    a {
		    background: transparent;
		    display: block;
		    text-align: center;
		    color: white;
		    padding: 11px 0;
		    font-weight: 600;
		    text-transform: uppercase;
		    border: 1px solid white;
	    }
	}
}

//.blog, .single, .search {

	#secondary {

		aside {
			background: $light-gray;
			@include rem(padding, 20px);

			h2 {
				@include rem(font-size, 20px);
				text-transform: uppercase;
				@include rem(margin, 0 0 10px 0);
				@include rem(padding, 0 0 10px 0);
				border-bottom: 1px solid rgba(221, 221, 221, 1);
			    border-left: 0;
    			line-height: 1;
			}

			ul {

				li {

					a {
						color: $text-color;
						transition: color 500ms ease-in-out;
						
						&:hover,
						&:focus,
						&:active {
							color: $brand-primary;
						}
					}
				}
			}
		}
	}
//}