/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: $pre-background;
		clip: auto !important;
		color: black;
		display: block;
		@include rem(font-size, 15px);
		font-weight: 700;
		height: auto;
		@include rem(left, 5px);
		line-height: normal;
		@include rem(padding, 15px 23px 14px);
		text-decoration: none;
		@include rem(top, 5px);
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
